@page "/project/dashboard"

<div class="board-page d-flex flex-column flex-md-row">
    <div class="sidebar border border border-dark-subtle">
        <NavMenu />
    </div>
    <div class="board-page__container container">
        <div class="row">
            <h1>Dashboard</h1>

            <div class="d-flex flex-wrap align-items-baseline">
                <div class="card m-1" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h2 class="card-title h-25">In Progress</h2>
                        <div class="d-flex h-75 justify-content-center align-items-center flex-column">
                            <h3>13</h3>
                            <h3>count</h3>
                        </div>
                    </div>
                </div>
                <div class="card m-1" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h2 class="card-title h-25">Completed Tasks</h2>
                        <div class="d-flex h-75 justify-content-center align-items-center flex-column">
                            <h3>44</h3>
                            <h3>count</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
