@page "/"

<PageTitle>Home</PageTitle>

<div class="home-page">
    <NavHome />
    <section class="home-page__banner mb-5 p-xxl-5 position-relative">
        <div class="container">
            <img src="Images/illustration_square.svg" alt="illustration_square" class="home-page__banner__square position-absolute" />
            <img src="Images/illustration_man.svg" alt="illustration_man" class="home-page__banner__illustration_man position-absolute" />
            <img src="Images/illustration_man-not.svg" alt="illustration_man-not" class="home-page__banner__illustration_man-not position-absolute" />
            <div class="home-page__banner__oval position-absolute" />
            <p class="home-page__banner__display-title display position-absolute">Work Platform</p>
            <img src="Images/illustration_x.svg" alt="illustration_x" class="home-page__banner__illustration_x position-absolute" />
        </div>
    </section>
    <section class="home-page__info-banner">
        <div class="container">
            <div class="row flex-column flex-lg-row">
                <div class="col col-xl-6 mb-5 mb-lg-0 d-flex flex-column justify-content-center align-items-center align-items-lg-start">
                    <h2 class="pb-4">The full spectrum of work on one platform</h2>
                    <h3>Progresso is simple tool for business users to manage powerful projects, processes, or tasks within the company. Explore what a true Work Platform can do</h3>
                </div>
                <div class="col col-xxl-6 d-flex justify-content-center justify-content-initial">
                    <img src="Images/illustration_work-board.svg" alt="illustration_work-board" class="home-page__info-banner__work-board w-100" />
                </div>
            </div>
        </div>
    </section>
    <section class="home-page__contact">
        <div class="container h-100 d-flex align-items-center justify-content-center flex-nowrap">
            <div class="row justify-content-center">
                <div class="home-page__contact__wrap-card position-relative">
                    <div class="home-page__contact__card position-absolute"></div>
                    <img src="Images/avatar_dragos.jpg" class="home-page__contact__card-icon position-absolute" />
                    <h3 class="home-page__contact__card-first-name text-truncate text-uppercase position-absolute">Dragos</h3>
                    <h3 class="home-page__contact__card-last-name text-truncate text-uppercase position-absolute">Cotaga</h3>
                    <a href="https://github.com/DragosCotaga" target="_blank"><img src="Images/icon_github_white.svg" class="home-page__contact__card-icon-github position-absolute" /></a>
                    <a href="https://www.linkedin.com/in/dragoste13/" target="_blank"><img src="Images/icon_linkedin_white.svg" class="home-page__contact__card-icon-linkedin position-absolute" /></a>
                </div>
                <div class="home-page__contact__wrap-card position-relative">
                    <div class="home-page__contact__card position-absolute"></div>
                    <img src="Images/avatar-vatsal.jpg" class="home-page__contact__card-icon position-absolute" />
                    <h3 class="home-page__contact__card-first-name text-truncate text-uppercase position-absolute">Vatsal</h3>
                    <h3 class="home-page__contact__card-last-name text-truncate text-uppercase position-absolute">Jariwala</h3>
                    <a href="https://github.com/vatsal8784" target="_blank"><img src="Images/icon_github_white.svg" class="home-page__contact__card-icon-github position-absolute" /></a>
                    <a href="" target="_blank"><img src="Images/icon_linkedin_white.svg" class="home-page__contact__card-icon-linkedin position-absolute" /></a>
                </div>
                <div class="home-page__contact__wrap-card position-relative">
                    <div class="home-page__contact__card position-absolute"></div>
                    <img src="Images/avatar-claudiu.jpg" class="home-page__contact__card-icon position-absolute" />
                    <h3 class="home-page__contact__card-first-name text-truncate text-uppercase position-absolute">Claudiu</h3>
                    <h3 class="home-page__contact__card-last-name text-truncate text-uppercase position-absolute">Carabus</h3>
                    <a href="https://github.com/suscapusca" target="_blank"><img src="Images/icon_github_white.svg" class="home-page__contact__card-icon-github position-absolute" /></a>
                    <a href="" target="_blank"><img src="Images/icon_linkedin_white.svg" class="home-page__contact__card-icon-linkedin position-absolute" /></a>
                </div>
                <div class="home-page__contact__wrap-card position-relative">
                    <div class="home-page__contact__card position-absolute"></div>
                    <img src="Images/avatar-yash.jpg" class="home-page__contact__card-icon position-absolute" />
                    <h3 class="home-page__contact__card-first-name text-truncate text-uppercase position-absolute">Yashraj</h3>
                    <h3 class="home-page__contact__card-last-name text-truncate text-uppercase position-absolute">Mashruwala</h3>
                    <a href="https://github.com/Helix1579" target="_blank"><img src="Images/icon_github_white.svg" class="home-page__contact__card-icon-github position-absolute" /></a>
                    <a href="" target="_blank"><img src="Images/icon_linkedin_white.svg" class="home-page__contact__card-icon-linkedin position-absolute" /></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-page__br-banner">
        <div class="container position-relative">
             <img src="Images/illustration_girl.svg" alt="illustration_girl" class="position-absolute top-0 end-0" />
        </div>
    </section>
    <footer class="footer">
        <div class="container h-100 d-flex justify-content-start align-content-center flex-nowrap">
            <div class="row pt-5">
                <div class="col">
                    <NavLink class="navbar-brand align-items-center d-flex pb-3" href="">
                        <img src="Images/logo.svg" alt="Logo" width="40" height="50" class="d-inline-block align-text-top">
                        <h3>Progresso</h3>
                    </NavLink>
                    <NavLink class="nav-link d-flex d-sm-flex pb-3" href="https://github.com/vatsal8784/SEP_new" target="_blank">
                        <img src="Images/icon_github.svg" alt="icon_github" width="32" height="32" class="nav-home__right-wrap__icon">
                    </NavLink>
                    <p>Copyright 2023 Dragos Cotaga, Vatsal Jariwala, Claudiu Carabus, Yashraj Mashruwala. All Rights Reserved</p>
                </div>
                <div class="col p-2 footer__link">
                    <NavLink class="navbar-brand d-flex p-0" href="login">
                        <h4>Login In</h4>
                    </NavLink>
                    <NavLink class="navbar-brand d-flex p-0" href="register">
                        <h4>Sign Up</h4>
                    </NavLink>
                </div>
            </div>
        </div>
    </footer>
</div>