@page "/project"

<div class="project-page d-flex flex-column flex-md-row">
    <div class="sidebar border border border-dark-subtle">
        <NavMenu />
    </div>
    <div class="project-page__container container">
        <div class="row">
            <h3>demo</h3>

        </div>
    </div>
</div>

@code {

}
